 <header class="container">
    <h1>mad<img src="" alt="logo of mad pulpo">pulpo</h1>
    <p>mad web development from barcelona</p>
    <span class="arrow"></span>
  </header>
  <main class="container">
    <section id="about">
      <h2>mad pulpo</h2>
      <p>Innovative and top-class web development from young and madly ambitious individuals</p>
      <a href="#team">Meet the team</a>
      <p>Mad Pulpo is a collective of graduates from Ironhack School
        Barcelona, a web development bootcamp, forming the next
        generation of web developers.
      </p>
      <p>The main goal after graduating has always been to continue
        learning and deepening this new knowledge. Mad Pulpo
        provides a platform for only the most talented, creative and
        ambitious graduates to learn on real-life projects from simple
        landing pages to complex web-apps.
      </p>
      <p>By applying industry standard best practices and working with
        a network of experienced professionals to oversee all projects,
        each product is developed in the highest quality.
      </p>
      <a href="#projects">See previous projects</a>
    </section>
    <section id="team">
      <h2>mad pulpo</h2>
      <div>
        <article>
          <img src="" alt="">
          <h3>axelito</h3>
          <p>The normal one</p>
        </article>
        <article>
          <img src="" alt="">
          <h3>francina</h3>
          <p>The funny one</p>
        </article>
        <article>
          <img src="" alt="">
          <h3>johnny</h3>
          <p>The picaro</p>
        </article>
      </div>
    </section>
    <section id="projects">
      <article class="iron-campus">
        <h3>IronCampus</h3>
        <img src="" alt="IronCampus Mockup">
        <p>Link to other part of the website</p>
      </article>
      <article class="fifa-gg">
        <h3>FIFA.gg</h3>
        <img src="" alt="Fifa.gg Mockup">
        <p>Link to other part of the website</p>
      </article>
    </section>
    <section id="contact">
      <h4>Don't be shy, say hi! We'll be looking forward to hearing from you!</h4>
      <form action="https://formspree.io/axel.garcia94@gmail.com" method="POST" />
        <label for="name">your name</label>
        <input name="name" type="text" placeholder="Your name">
        <label for="email">your email address</label>
        <input name="email" type="text" placeholder="Your email address">
        <label for="message">your message</label>
        <textarea name="message" id="message" cols="30" rows="10" placeholder="Your message"></textarea>
        <input type="submit"></input>
      </form>
    </section>
  </main>
  <footer class="container">
    <p>Nice footer</p>
  </footer>
